@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');


.App {
    background: linear-gradient(289.6deg, #0C0C0C 0%, #2C4550 98.22%);
    width: 1600px;
    height: 900px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    position: absolute;
    display: flex;
    cursor: default;   
}

.left__band {
    display: flex;
    flex-direction: column;
    width: 161px;
    height: 900px;
    border: 1px solid #FFFFFF;
    
  &-logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #FFFFFF;
  }  
    

  &-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 13px;
  height: 25px;
  bottom: 185px;
}

  div {
    margin-left: 33px;
    margin-top: 20px;
    text-align: center;
  }

  .facebook {
    margin-left: 40px;
  }
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 403px;
    height: 30px;
    left: 1042px;
    top: 39px;

    &__options {
      width: 61px;
      height: 30px;
      font-family: 'Poppins';
      -style: normal;
      -weight: 700;
      -size: 20px;
      line-height: 30px;
      text-align: center;
      color: #FFFFFF;
    }

    &__mode {
      background: none;
      height: 35px;
      width: 35px;
      margin-left: 100px;
    }
}