@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

html{
  background: linear-gradient(289.6deg, #0C0C0C 0%, #2C4550 98.22%);
  }

.App {
    background: linear-gradient(289.6deg, #0C0C0C 0%, #2C4550 98.22%);
    width: 1600px;
    height: 900px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    position: absolute;
    display: flex;
    cursor: default;   
}

.left__band {
    display: flex;
    flex-direction: column;
    width: 161px;
    height: 899px;
    border-right: #FFFFFF 1px solid;
    
  &-logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #FFFFFF;
  }  
    

  &-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 13px;
  height: 25px;
  bottom: 185px;
}

  div {
    margin-left: 33px;
    margin-top: 20px;
    text-align: center;
  }

  .facebook {
    margin-left: 38px;
  }
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 403px;
    height: 30px;
    left: 1090px;
    top: 39px;

    &__options {
      width: 61px;
      height: 30px;
      font-family: 'Poppins';
      -style: normal;
      -weight: 700;
      -size: 20px;
      line-height: 30px;
      text-align: center;
      color: #FFFFFF;
      
    }

 

    &__mode {
      background: none;
      height: 35px;
      width: 35px;
      margin-left: 90px;
    }
}

.wallpaper {

  h1 {
  position: absolute;
  width: 393px;
  height: 158px;
  left: 287px;
  top: 140px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 79px;
  color: #FFFFFF;
  }

  p {
  position: absolute;
  width: 524px;
  height: 81px;
  left: 287px;
  top: 373px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.9);
  }

  &__cubes {
    position: absolute;
    width: 1250px;
    height: 898px;
    left: 480px;
    top: -50px;
  }

  &__gus {
    position: absolute;
    width: 323px;
    height: 242px;
    left: 790px;
    top: 135px;
  }
}

  .bottom__banner {
    position: absolute;
    width: 1435px;
    height: 255px;
    left: 163px;
    top: 640px;
    border-bottom-right-radius: 30px;
    background: radial-gradient(
      100% 2631.09% at 0% 0%, 
    rgba(0, 0, 0, 0.42) 0%, 
    rgba(0, 0, 0, 0.558) 100%);
    backdrop-filter: blur(50px);
    display: flex;

    &-image {
    width: 324px;
    height: 255px;
    left: 287px;
    top: 647px;
    margin-left: 125px;
    margin-right: 83px;
    }

    &-content {
      
      display: flex;
      flex-direction: column;
      
      h2 {
      width: 427px;
      height: 36px;
      left: 694px;
      top: 698px;
      margin-top: 53px;
      margin-bottom: 18px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: #FFFFFF;
      }

      p {
      width: 427px;
      height: 93px;
      left: 694px;
      top: 752px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 31px;
      color: rgba(255, 255, 255, 0.9);
      }
    }


    &-arrow {
      width: 55px;
      height: 10px;
      left: 1115px;
      top: 832px;
      margin-top: 200px;
      margin-left: 22px;
    }
  }

